<%= console.log(data); %>

<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
	<table border align="center">
		<thead>
			<tr>
				<th>No.</th>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>	
</body>
</html>
